*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

body{
  overflow-x: hidden;
}

header{
  min-height: 20vh;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  text-align: center;
}

.slick-slide{
}

main ul{
  padding: 0 3rem;
  font-size:larger;
}

main ul li{
  background-color: rgb(255, 166, 0);
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
}

/* main ul li:hover{
  animation-name: enlarge;
  animation-duration: 1s;
} */

@keyframes enlarge{
  from {padding: 10px 30px;}
  to {padding: 10px 35px;}
}

main hr{
  margin: 2rem 0;
  width: 80vw;
  border: 1px solid beige;
}