*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

body{
  color: white;
  overflow: hidden;
}

header{
  min-height: 20vh;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  text-align: center;
}

main{
  min-height: 60vh;
  background-color: yellow;
  padding: 5%;
}

main ul{
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap row;
  gap:5%;
  list-style: none;
  font-size:larger;
}

main ul li{
  background-color: rgb(255, 166, 0);
  width: fit-content;
  height: 3rem;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
}

main ul li:hover{
  animation-name: enlarge;
  animation-duration: 1s;
}

@keyframes enlarge{
  from {padding: 10px 30px;}
  to {padding: 10px 35px;}
}

main hr{
  margin: 2%;
  width: 80vw;
  border: 1px solid beige;
}

footer{
  min-height: 20vh;
  background-color: black;
  display: flex;
}

footer ul{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5%;
  list-style: none;
}

footer ul li a h2{
  margin-top: 10px;
}